
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: $font;
	font-weight: map-get($font-weight, "ligth");
}

h1,h2,h3,h4,h5,h6{
	font-weight: map-get($font-weight, "bold");
}

li{
	list-style: none;
	display: inline-block;
	padding: 30px;
}

a{
	text-decoration: none;
	color: $ligth;

}

img{
	width: 100%;
}